    <!DOCTYPE hibernate-configuration PUBLIC
            "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
            "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    <hibernate-configuration>
        <session-factory>
            <!-- Database connection settings -->
            <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
            <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernate_demo_db</property>
            <property name="hibernate.connection.username">postgres</property>
            <property name="hibernate.connection.password">kt#syw3@Bj</property>

            <!-- JDBC connection pool settings (optional) -->
            <!-- Here you can configure additional properties related to connection pooling -->

            <!-- SQL dialect -->
            <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

            <!-- Enable Hibernate's automatic session context management -->
            <property name="hibernate.current_session_context_class">thread</property>

            <!-- Echo all executed SQL to stdout -->
            <property name="hibernate.show_sql">true</property>

            <!-- Set other properties as needed -->
        </session-factory>
    </hibernate-configuration>
